<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Logs\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File"
		        name="errorFile"
		        fileName="C:\Logs\${shortdate}\nlog-error.txt"
		        layout="${longdate}|${message} ${exception}" />
		<target xsi:type="File"
		        name="debugFile"
		        fileName="C:\Logs\${shortdate}\nlog-debug.txt"
		        layout="${longdate}|${message} ${exception}" />
		<target xsi:type="File"
		        name="allFile"
		        fileName="C:\Logs\${shortdate}\nlog-all.txt"
		        layout="${longdate}|${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel ="Trace" writeTo="allFile" />
		<logger name="*" level="Error" writeTo="errorFile" final="true" />
		<logger name="*" level="Debug" writeTo="debugFile" final="true" />
	</rules>
</nlog>