<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col">
        <h1>Hello, world!</h1>
        Welcome to your new app.
        <SurveyPrompt Title="How is Blazor working for you?"/>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            <a href="https://bootstrap5demo.blazorise.com/">Blazorize Boootstrap 5 blazor app demo</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            <a href="https://blazorise.com/docs">Blazorize controls documentation</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            <a href="https://blazor.radzen.com/dashboard">Radzen controls documentation and sample app</a>
        </p>
    </div>
</div>

<AuthorizeView>
    <NotAuthorized>
        <Row Margin="Margin.Is4.FromBottom">
            <Column ColumnSize="ColumnSize.IsFull">
                <Link To="register">Register</Link>
                <Link To="login">Log in</Link>
            </Column>
        </Row>
    </NotAuthorized>
</AuthorizeView>
    
<Row Margin="Margin.Is4.FromBottom">
    <Column ColumnSize="ColumnSize.IsFull">
        <Button Color="Color.Primary" Clicked="@OnButtonClicked">@_text</Button>
        <Button Color="Color.Danger" Clicked="@ShowError">Error test</Button>
    </Column>
</Row>

<Row Margin="Margin.Is4.FromBottom">
    <Column ColumnSize="ColumnSize.IsFull">
        <ServerValidationAlert @ref="_serverValidationAlert"/>
    </Column>
</Row>