<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="Logs\internalLog.txt">

  <variable name="myvar" value="myvalue"/>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" 
            name="allfile"
            fileName="Logs\${shortdate}\nlog-all.txt"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />
    
    <target xsi:type="File" 
            name="ownFile-web"
            fileName="Logs\${shortdate}\nlog-own-web.txt"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="File"
            name="ownFileAll"
            fileName="Logs\${shortdate}\nlog-own-all.txt"
            layout="${longdate}  |  ${message}" />

    <target xsi:type="File"
            name="ownFileError"
            fileName="Logs\${shortdate}\nlog-own-error.txt"
            layout="${longdate}  |  ${message} ${exception}" />
    
    <target xsi:type="Null" 
            name="blackhole" />
  </targets>
  
  <rules>
    <logger name="Microsoft.*" 
            minlevel="Trace" 
            writeTo="blackhole" 
            final="true" />

    <logger name="*"
            minlevel="Error"
            writeTo="ownFileError" />
    
    <logger name="*" 
            minlevel="Trace" 
            writeTo="ownFileAll" />
  </rules>
</nlog>