<AuthorizeView>
    <Authorized>
        <a href="profile">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="LogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>