<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccountAndJwt.Ui</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="googleMap">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Google map
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lineChart">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Line chart
            </NavLink>
        </div>
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="@Role.Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userEditor">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> User editor
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="@Role.Moderator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="valuesModeration">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Values moderation
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>